.idea
.directory
*.pyc
*.o
*.pyo
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
**/__pycache__/
*.ctrl
pywikibot.lwp
dikantenyvaovao.exceptions
translate_batch.txt
database_password
/conf/config.ini
userdata/*
/user_data/dumps/
/apicache-py3/
/bin/postgrest
/frontend/node_modules/
/frontend/dist/
/frontend/coverage/
/node_modules/
/.venv/
/user_data/*
!/user_data/basic_english.txt
!/user_data/category_list_mg_fiteny
!/user_data/list/
!/user_data/list/data-20171010
!/user_data/milestones/
!/user_data/milestones/ct_state
