<script language="JavaScript">
    var defcounter = 0
    var addSection = function () {
        defcounter ++;
        let form = window.document.getElementsByClassName("form-table");
        let new_row = form[0].insertRow(-1);
        let label = new_row.insertCell(0);
        let input = new_row.insertCell(1);
        label.innerHTML = '<th><label>Definition:</label></th>';
        input.innerHTML = '<td><input type="text" name="definition" required id="definition_' + defcounter + '"/></td>';
    };
</script>
<form action="/{{ target }}" method="post">
    <!-- <a href="#" onclick="addSection()">Add definition</a> -->
    <table class="form-table">
        {% csrf_token %}
        {{ form }}
    </table>
    <input type="submit" value="{{ submit_button_label }}" />
</form>